<link rel="stylesheet" href="/stylesheets/table-sortable.css">
<script src="/scripts/table-sortable.js" ></script>


<form name="forgetPass" id="forgetPass" style="margin-left: 600px; margin-top:50px; " >
    <div class="form-group">
       <div class="row">
           <div class="col-md-6">
             <label for="ama" style="margin-left:15px ; border: 2px solid black; width:820px" ><h2 style="margin-left: 345px;">Email</h2></label><br></br>  
           </div>
       </div>
       <div class="form-group">
          <div class="col-md-6">
             <input type="email" placeholder="Enter You Registered Email" style="height: 80px;" class="form-control" id="emailPass" value=""   name="emailPass" required="true"><br></br>
         </div>
       </div>
    <div><button type="submit" class="btn btn-primary" id="sendMail"  style="margin-left:300px;"><h2>send</h2></button></div>
</form>
<script>
$('#sendMail').on('click',function(event){
    
    event.preventDefault();
    event.stopPropagation();
    event.stopImmediatePropagation();
    alert('Save Button Clicked !');
    var $inputs = $('#forgetPass :input');
    var values = {};
    $inputs.each(function() {
        values[this.name] = $(this).val();
    });
    alert('formValues : '+JSON.stringify(values));
    $.ajax({
        url : '/users/salesforceEmailVeerification',
        type:'post',
        data: values,
        dataType : 'json'
    })
    .done((response) =>{
        console.log('response ::'+JSON.stringify(response));
        var val =response[0];
 //       const id = response[0].sfid;
        console.log('response val'+JSON.stringify(val));
        $.ajax({
            url : '/users/sendEMail',
            type:'post',
            data: val,
            dataType : 'json'
        })
        .done((response)=>{
            console.log('Email Send'+response);
        })
        .fail((jqXHR, status, error) => {
            console.log('jqXHR  '+JSON.stringify(jqXHR));
      })    

    })
    .fail((jqXHR, status, error) => {
          console.log('Fisrt Response Eror ');
          console.log('jqXHR  '+JSON.stringify(jqXHR));
    })


})
</script>