<% include ../../partials/navbar %>
<% include ../../partials/footer %>

  <div class="container-fluid">
   <br />
   <h4 align="center">Boarding & Lodging</h4>
   <br />
   <div class="card card-body">
      <% include ../../partials/messages %>
    <div id="errorMessages"></div>
   <form method="post" action="/insertprecash" id="formdata"  enctype="multipart/form-data">
    <div class="table-repsonsive" >
     <span id="error"></span>
     <table class="table table-bordered " id="item_table">
      <tr>
       <th>NO</th>
       <th>STAY OPTION</th>
       <th>ACTIVITY CODE</th>
       <th>PLACE JOURNEY</th>
       <th>TIER3CITY</th>
       <th>FROM</th>
       <th></th>
       <th>TO</th>
       <th></th>
       <th>TOTAL ALLOWANCES</th>
       <th>DAILY ALLOWANCES</th>
       <th>AMT FOR B & L</th>
       <th>ACTUAL AMT FOR B & L</th>
       <th>OWN STAY AMOUNT</th>
       <th>UPLOAD FILE</th>
       <th><button type="button" style="background-color:#2C3E50;" name="add" class="btn btn-success btn-sm add"><span class="glyphicon glyphicon-plus"></span></button></th>
       <th style="display:none;"></th>

      </tr>
     </table>
     <div align="center">
    
      <input type="submit" style="background-color:#2C3E50;" name="submit" class="btn btn-info" value="Submit" />
     </div>
    </div>
   </form>
   </div>
  </div>
 

<p id ='tourbillId' ><%= parentTourBillId %></p>
<script>
  var lstPlaces = ["Mumbai","Delhi/NCR","Bengaluru","Hyderabad","Itanagar","Dispur", 
  "Patna", "Raipur", "Panaji", "Gandhinagar", "Shimla", "Srinagar", "Chandigarh", 
  "Ranchi", "Thiruvananthapuram","Bhopal", "Imphal", "Shillong", "Aizawl", "Kohima",
  "Bhubaneswar", "Jaipur", "Gangtok", "Chennai","Agartala", "Lucknow", "Dehradun", 
  "Kolkata", "Port Blair", "Silvassa", "Daman", "Kavaratti", "Pondicherry", "Agra", "Pune", "Kochi", 
  "Ajmer", "Allahabad", "Amritsar","Coimbatore", "Indore", "Gwalior", "Jalandhar", "Mussorie","Ooty", "Others"];

$(document).ready(function(){
   $('#tourbillId').hide();
   let tourbillId = document.getElementById('tourbillId').innerHTML;
 var count = 1
 $(document).on('click', '.add', function(){
    var cnt = count++;
    var html = '';
    html += '<tr>';
    html += '<td>'+cnt+'</td>';
    html += '<td><select name="stayOption" class="form-control"><option value="">None</option><option value="Own Stay">Own Stay</option><option value="Stay">Stay</option></select>';
    html += '<td><select name="activity_code" class="form-control item_unit"></select></td>';
    html += '<td><select  id="place" name="placeJourney" class="form-control" ></select></td>';
    html += '<td><input type="text" id="tier3City'+cnt+'" disabled="true" name="tier3City" class="form-control" /></td>';
    html += '<td><input type="date" name="fromDate" class="form-control" /></td>';
    html += '<td><input type="time" name="fromTime" class="form-control" /></td>';
    html += '<td><input type="date" name="toDate" class="form-control" /></td>';
    html += '<td><input type="time" name="toTime" class="form-control" /></td>';
    html += '<td><input type="number" name="totalAllowances" disabled="true" class="form-control" /></td>';
    html += '<td><input type="number" name="dailyAllowances" disabled="true" class="form-control" /></td>';
    html += '<td><input type="number" name="amtForBL" disabled="true" class="form-control" /></td>';
    html += '<td><input type="number" name="actualAMTForBL" class="form-control" /></td>';
    html += '<td><input type="number" name="ownStayAmount" class="form-control" /></td>';
    html += '<td><input type="file" onChange="chkFile(this,'+cnt+')" name="fileprety" id="fileprety" class="form-control" /><input type="hidden" value="demo" name="imgpath[]" id="file_'+cnt+'"></td>';
    html += '<td><button type="button" name="remove" class="btn btn-danger btn-sm remove"><span class="glyphicon glyphicon-minus"></span></button></td></tr>';
    html += '<td style="display:none;"><input  type="hidden" name="parentTourBillId" value="<%= parentTourBillId %>" class="form-control" /></td>';
    $('#item_table').append(html);

    $('#place').empty();
    for(let i=0;i < city.length; i++)
    {
      console.log('lstPlaces[i]'+city[i].city__c);
      $('#place')
      .append($("<option></option>")
      .attr("value",city[i]).city__c)
      .text(city[i].city__c);	
    }
   
    $('#place'+cnt).on("change",function(){
        if(this.value == 'Others')
          $('#tier3City'+cnt).attr("disabled",false);
        else
          $('#tier3City'+cnt).attr("disabled",true);

          
    });

 });
 
 $(document).on('click', '.remove', function(){
    $(this).closest('tr').remove();
 });


 $.get('/expense/tourBillClaim/fetchActivityCodes',{tourbillId : tourbillId}, function(response){
    console.log('response  : '+JSON.stringify(response));
 }).fail(function(jqXHR, error) {
    console.log('error  : '+JSON.stringify(jqXHR));
 })



});


$(function () {
  $('form#formdata').bind('submit', function () {
    $.ajax({
      type: 'post',
      url: '/expense/boardingLodgingCharges',  // to save the Boarding Chargess
      data: $('form#formdata').serialize(),
      success: function (data) {
        console.log(data);
        alert(data);
        location.assign('/expense/tourBillClaim');
      }
    });
    return false;
  });
});


function chkFile(file1,id) {
    var file = file1.files[0];
    var formData = new FormData();
    formData.append('formData', file);

   
    $.ajax({
    type: "POST",
    url: "/expense/uploadImage",    
    cache: false,
    dataType:'json',
    processData: false,
    contentType: false,
    data: formData,
    success: function (data) {
      console.log(data);
    //  var result = JSON.stringify(data)
     $('#file_'+id).val(data.url);
     
     }
  });
}

</script>